# Frontend public configuration
PUBLIC_API_BASE_URL=https://api.trichter.me
PUBLIC_COGNITO_DOMAIN=https://your-domain.auth.eu-central-1.amazoncognito.com
PUBLIC_COGNITO_CLIENT_ID=your_cognito_app_client_id
PUBLIC_COGNITO_REDIRECT_URI=https://trichter.me/admin

# Backend configuration
DYNAMODB_TABLE_NAME=parookaville-highscores
