bucket         = "trichter-me-terraform-state-<aws-account-id>"
key            = "prod/terraform.tfstate"
region         = "eu-central-1"
dynamodb_table = "trichter-me-terraform-locks"
encrypt        = true
